.body {
    width: 100%;
    margin: 0;
    padding: 0
}

.container {
	max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(102, 102, 99);
    height: 100vh;
}




.dice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 600px;
}

p {
    font-size: 2rem;
    color: azure;
    
}

img{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.roll-button {
padding: 100px;
display: flex;
justify-content: center;


}

button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    font-size: 1rem;

}

@media (max-width: 500px){
    .dice {
        gap: 30px;
        height: 400px;
    }
    
    .roll-button {
        padding: 50px;
    }

}

